@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fef8f2;
    font-family: "Noto Sans TC", sans-serif;
}


#id {
    display: flex;
}

/* content */
.container {
    height: 100%;
    margin-left: 244px;
    padding: 30px 50px 30px;
}

.page-title {
    color: #4B2E20;
    font-weight: 900;

}

.page-label {
    font-size: 25px;
    margin: 4px 0;
}

.link {
    font-size: 20px;
    color: #8B5E34;
    text-decoration: none;
}

.link:hover {
    font-weight: 600;
}


/* form */

.form {
    padding-right: 500px;
}

.form-item {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.form-field-name {
    flex: 0 0 120px;
    font-weight: bold;
    margin-left: 10px;
    line-height: 1.5;
    font-size: 25px;
    font-weight: 400;
    color: #2E1E0F;
}


.form-control {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-control:hover {
    border: 2px solid #573b22;
}

.form-item-textarea {
    margin-bottom: 20px;
    display: flex;
    align-items: start;
}

.form-name-textarea {
    flex: 0 0 120px;
    font-weight: bold;
    margin-left: 10px;
    line-height: 1.5;
    font-size: 25px;
    font-weight: 400;
    color: #2E1E0F;
}

.form-control-textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-item-btn {
    text-align: right;
    margin: 30px 0;
}

.btn-primary {
    background-color: #A67B5B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #7A5230;
}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    border-right: 1px solid #D2B48C;
    padding: 10px;
}

.nav-brand {
    margin: 0 0 15px;
    padding: 30px 12px 10px;
}

.nav-brand-link {
    display: block;
    padding: 12px;
    margin: 4px 0;
}

.nav-item-list {
    width: 200px;
}

.nav-title {
    font-weight: 500;
}

.nav-link {
    display: block;
    padding: 12px;
    margin: 4px 0;
    text-decoration: none;
    font-size: 20px;
    color: #63310e;
}

.nav-link:hover {
    background-color: #fff1d9;
    border-radius: 8px;
    transition: 0.5s;
}

/* burger list */
.line {
    width: 24px;
    height: 24px;
    background: #fef8f2;
    cursor: pointer;
    display: block;
    padding: 16px;
    position: fixed;
    bottom: 16px;
    /* 将按钮定位在页面底部 */
    left: 16px;
    /* 将按钮定位在页面右侧 */
    z-index: 2;
}

.line .menu,
.line .menu::before,
.line .menu::after {
    background: #222;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}

.line .menu {
    left: 18px;
    top: 27px;
}

.burger-link-logout {
    background-color: #ffe3c2;
    border: none;
    font-size: 20px;
    font-weight: 100;
}

.burger-link-logout:hover {
    background-color: #ffffff;

}

.line .menu::before {
    top: -6px;
}

.line .menu::after {
    top: 6px;
}

/*點選選單變叉叉*/
#menu:checked+.line .menu {
    background: transparent;
}

#menu:checked+.line .menu::before {
    transform: rotate(45deg);
}

#menu:checked+.line .menu::after {
    transform: rotate(-45deg);
}

#menu:checked+.line .menu::before,
#menu:checked+.line .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}

/*
選單開合
*/
#menu:checked~.menu-list {
    height: 200px;
    /* 展开时设置高度 */
    overflow: visible;
    /* 确保菜单展开时内容可见 */
}

.menu-list {
    width: 200px;
    /* 设置菜单宽度 */
    height: 0;
    /* 初始高度为0，完全隐藏 */
    background: #ffe3c2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    position: fixed;
    bottom: 75px;
    /* 定位在按钮的上方 */
    left: 16px;
    /* 与按钮右对齐 */
    z-index: 1;
    transition: all .6s;
    overflow: hidden;
    /* 初始状态下隐藏内容 */
    border-radius: 10px;
}

/*
選單向外推
*/
.menu-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    /* 居中菜单项 */
    padding-top: 10px;
    /* 顶部间距 */
}

.menu-list ul>li {
    display: block;
    padding: 10px 0;
    /* 添加内边距，增加可点击区域 */
}

/*
隱藏核許框
*/
input#menu {
    display: none;
}



/* auth*/
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffeccf;
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 550px;
    background-color: #fffcf5;
    padding: 30px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-title {
    margin: 50px 0;
}

.auth-form {
    justify-content: center;
    align-items: center;
    width: 80%;
}

.auth-form-item {
    width: 100%;
    margin: 0 0 20px;
}

.auth-form-field-name {
    display: block;
    margin: 10px 0 0;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.2px;
}

.auth-form-control {
    width: 100%;
    background-color: #fffcf5;
    border: none;
    border-bottom: 1px solid #a7833c;
    line-height: 2.5;
    font-size: 12px;
    letter-spacing: 1px;
}

.auth-form-control::placeholder {
    font-size: 12px;
    font-weight: 100;
    color: #a7833c;
}

.auth-form-control:focus {
    outline: none;
}

.auth-form-control:-webkit-autofill {
    box-shadow: inset 0 0 0 2000px #fffcf5;
}

.form-check {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
}

.form-check-label {
    font-size: 12px;
    letter-spacing: 0.5px;
}

.form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.auth-btn-primary {
    display: block;
    margin: 10px 0;
    width: 95%;
    line-height: 40px;
    border-radius: 27px;
    background-color: #a7833c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: medium;
    font-weight: 700;
    color: #fffcf5;
    letter-spacing: 1px;
}

.auth-btn-link {
    margin: 15px 0;
    color: #4e3b17;
    font-size: 13px;
    text-decoration: none;
}


/*profile*/
.profilebackround {
    width: 1100px;
    height: 40px;
    background-color: #d6c497;
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.page-title {
    font-size: 80px;
}

.modify {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#modify {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-modify:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}


/* surprise */
@keyframes white-to-yellow {
    0% {
        background: #fff;
    }

    100% {
        background: #d7a945;
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.turntable-wrap {
    position: relative;
    overflow: hidden;
    margin: 50px;
    width: 340px;
    height: 340px;
    border: 7px solid #b2a98d;
    border-radius: 50%;
    box-shadow: 0 0 20px #b2a98d;
}

.turntable-wrap .light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e0ddd1;
    animation: rotate 5s linear infinite;
}

.turntable-wrap .light span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 10px;
    height: 100%;
    border-radius: 50%;
    transform-origin: center center;
}

.turntable-wrap .light span:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.turntable-wrap .light span:nth-of-type(even):before {
    background: #fff;
    animation: white-to-yellow 1s linear infinite;
}

div.container {
    padding: 10 20px 20px;

}

.btn-modify {
    margin-left: 500px;
    margin-top: 250px;
    width: 120px;
    height: 40px;
    background-color: #9f7135;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.turntable-wrap .light span:nth-of-type(odd):before {
    background: #d7a945;
    animation: white-to-yellow 1s linear reverse infinite;
}

.turntable-wrap .turntable {
    position: absolute;
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #fff;
}

.turntable-wrap .turntable .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #dfd8be;
    border-radius: 50%;
    transform: rotate(72deg);
}

.turntable-wrap .turntable .bg li {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1px;
    height: 100%;
    background: #dfd8be;
    transform-origin: center center;
    /*transform: rotate(36deg);*/
}

.turntable-wrap .turntable .gift {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(63deg);
}

.turntable-wrap .turntable .gift li {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 45%;
    height: 45%;
    transform-origin: right bottom;
}

.turntable-wrap .turntable .gift li span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 50px;
    height: 70px;
    margin: auto;
    background: yellow;
    transform: rotate(-60deg);
    text-align: center;
    line-height: 80px;
    border-radius: 5px;
    background: #f23c3c;
    color: #fff;
    font-size: 24px;
}

.turntable-wrap .turntable .gift li:not(.no-gift) span:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 50px;
    height: 1px;
    background: #fff;
}

.turntable-wrap .turntable .gift li.no-gift span {
    background: #fff;
    line-height: 70px;
    color: #bfa74f;
    font-size: 12px;
}

.turntable-wrap .pointer {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -23px auto;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #fff;
    border: 5px solid #fff;
    box-shadow: 0 0 0 5px #b9a046;
    text-align: center;
    line-height: 16px;
    color: #b9a046;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.turntable-wrap .pointer:before {
    content: '';
    position: absolute;
    top: -58px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    border-style: solid;
    border-color: transparent transparent #b9a046 transparent;
    border-width: 25px 10px 25px 10px;
}

/*home*/
.home-container {
    position: relative;
}

.home-title {
    position: absolute;
    width: 348px;
    height: 40px;
    left: calc(50% - 348px/2 + 153px);
    top: 20px;

    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 40px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;

    color: #7F5E19;

}

.rectangle1 {

    position: absolute;
    width: calc(100% - 220px);
    height: 300px;
    margin-left: 220px;
    top: 100px;

    background: #DBCEB4;
    opacity: 0.8;


}

.rectangle2 {

    position: absolute;
    width: calc(100% - 220px);
    height: 300px;
    margin-left: 220px;
    top: 400px;

    background: #887757;
    opacity: 0.8;


}

.rectangle3 {

    position: absolute;
    width: calc(100% - 220px);
    height: 300px;
    margin-left: 220px;
    top: 700px;

    background: #B8A37A;
    opacity: 0.8;


}

.small-title {

    position: absolute;

    font-family: 'Alegreya';
    font-style: bold;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    /* or 40px */
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: #000000;


}

.home-context {

    position: absolute;

    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    /* or 23px */
    letter-spacing: 0.1em;

    color: #000000;

}

.home-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: relative;
    width: 60px;
    height: 120px;
    border: none;
    background: #CAAF77;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

}
.home-btn:hover {
    background-color: #a28c51; /* 悬停时的背景色 */
}